* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: #ffffff;
}

header {
  background-color: #ffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  
}

.img-logo {
  width: 50px;
  height: 50px;
}

h1{
margin-right: auto;
padding-left:10px ;
}

.hamburguer {
  font-size: 32px;
  color: #333;
  cursor: pointer;
}

.nav-menu {
  width: 100%;
  overflow: hidden;
  background-color: #555;
  max-height: 0;
  transition: max-height 0.4s ease;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 10;
}

.nav-menu.active {
  max-height: 400px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  color: white;
 
  text-transform: uppercase;
}