* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


:root{
  --primary-color: #0048e8;
  --secondary-color: #e19e2b;
  --text-color: #ffffff;
  --terciary-color: #084c85;

}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
margin: 0;
background-color: var(--terciary-color) ;

}

main{
  flex:1;
}

header {
  background-color: #f8f6f6;
}



.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  
  
  
}


.banner-logo {
  display: flex;
  align-items: center;
  justify-content:center;

}

.promessa-titulo{
  padding: 0 .5rem;
}

.logo-capa{
  width: 100%;
  height: auto;
  -webkit-object-fit: cover;
  object-fit: cover;
}


.logo-adv{
display: flex;
align-items: center;
justify-content: center;
}

.japuiba{
  font-size: 15px;
}



.img-logo {
  width: 50px;
  height: 50px;
}

.promessa-titulo{
margin-right: auto;
padding-left:.5rem;
}


.hamburguer{
    width: 25px;
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;  

}

.linha{
    height:3px;
    background-color: #000000;
    border-radius: 2px;
    
   
  

}

.linha-2{
    width: 15px;
    background-color: #000000;
    height:3px;
    border-radius: 2px;
  
     
}



.nav-menu {
  width: 100%;
  overflow: hidden;
  background-color: #bd821e;
  max-height: 0;
  transition: all .4s linear;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 10;
 

}

.nav-menu.active {
  max-height: 400px;
}

.menu {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}

.menu li a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  color: white;
 
  text-transform: uppercase;
}



.bloco-1 {
  background-color:var(--secondary-color);
  text-align: center;
  padding: 40px;
}

.bloco-2{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 40px;

}

.img-bloco2{
  width: 500px;
  margin-top: 2px;
}

.programacoes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  

}

.programacao-container {
 display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 15px;
gap: 8px;
line-height: 27px;
padding-top: 50px;
color: var(--text-color);

}

.programacao-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.programacao-2{
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.location-container{
display: flex;
justify-content: center;
padding: 20px;
  
}

.location-container iframe {
  border-radius: 20px;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 40px;
 
}


.container-footer{
  display: flex;
  align-items: center;
  gap: 10px;

}

