* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* Estilos do corpo */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color:var(--terciary-color);
 
}

:root{
  --primary-color: #0048e8;
  --secondary-color: #e19e2b;
  --text-color: #ffffff;
  --terciary-color: #084c85;
--background-color: #bd821e;
}



/* Estilos do conteúdo principal */

main{
  flex:1;
}

header {
     background-color: #f8f6f6;
     position: fixed;
      width: 100%;
      top: 0;
      left: 0;
     right: 0;
    z-index: 9999;
}

/* Estilos do menu hamburguer */
.hamburguer{
    width:25px ;
    height:15px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.linha{
    height: 3px;
    background-color: #000000;
    border-radius: 2px;
}

.linha-2{
    width: 15px;
    background-color: #000000;
    height: 3px;
    border-radius: 2px;
}
/* fim do estilo hamburguer*/


/* Estilos do container */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;


}

.promessa-titulo{
    margin-right: auto;
    padding-left:.5rem;
}

.logo-img-adv{
    width: 50px;
    height: 50px;
    -webkit-object-fit: cover;
    object-fit: cover;
}


.logo-adv{
    background-color: #000000;
    padding:60px;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;

}

.japuiba{
    font-size: 15px;
    }



.img-logo {
    width: 50px;
    height: 50px;
}


/* Estilos do menu */

.nav-menu {
    width: 100%;
    overflow: hidden;
    background-color: var(--background-color);
    max-height: 0;
    transition: max-height 0.4s ease;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 10;
   color: var(--text-color);
}

.nav-menu.active {
    max-height: 400px;
}

.menu {
    list-style: none;
    padding: 5px 0;
    margin: 0;
}

.menu li a {
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

/* Estilos da seção "Quem Somos" */
.quem-somos-container{
    display: flex;
    flex-direction:column ;
    padding: 1rem;
    gap: 1rem;
    color: var(--text-color);
    margin-top: 85px;
}


.titulo-quem-somos{
    text-align: center;
    
  
}
.titulo-missao{
    text-align: center;
    padding: 1rem;
}


/* Estilos dos parágrafos */
.paragrafo-2{
    opacity: 0.5;
    font-style: italic;
    text-align: center;
    padding: 1rem;

}


/* Estilos da seção "Missão e Visão" */

.missao-visao{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    color: var(--text-color);

}

/* Estilos do texto em negrito */
.negrito {
    font-weight: bold;
}


/* Estilos do rodapé */

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
     background-color: var(--secondary-color);
}

.container-footer{
    color: #000000;
    display: flex;
    align-items: center;
    gap: 10px;

}

